Package: task-british-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Per Olofsson <pelle@debian.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: firefox-esr-l10n-en-gb | firefox-l10n-en-gb, libreoffice-help-en-gb, libreoffice-l10n-en-gb, myspell-en-gb
Section: tasks
Priority: optional
Description: British English desktop
 This task localises the desktop in British English.
