Package: task-xhosa-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: libreoffice-l10n-xh
Section: tasks
Priority: optional
Description: Xhosa desktop
 This task localises the desktop in Xhosa.
