Package: task-basque
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: aspell-eu-es
Section: tasks
Priority: optional
Description: Basque environment
 This task installs packages and documentation in Basque
 to help Basque speaking people use Debian.
