Package: task-serbian
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Safir Secerovic <sapphire@linux.org.ba>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: doc-linux-hr
Section: tasks
Priority: optional
Description: Serbian environment
 This task installs packages and documentation in Serbian
 to help Serbian speaking people use Debian.
