Package: task-malayalam
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: aspell-ml
Section: tasks
Priority: optional
Description: Malayalam environment
 This task installs packages and documentation in Malayalam
 to help Malayalam speaking people use Debian.
