Package: task-romanian
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Eddy Petrişor <eddy.petrisor@gmail.com>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: console-terminus, util-linux-locales, aspell-ro
Section: tasks
Priority: optional
Description: Romanian environment
 This task installs packages and documentation in Romanian
 to help Romanian speaking people use Debian.
