Package: task-gnome-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0), task-desktop, gnome-core
Recommends: gnome, libreoffice-gnome, libreoffice-evolution, gimp, synaptic, firefox-esr | firefox, libreoffice, libreoffice-help-en-us, mythes-en-us, hunspell-en-us, hyphen-en-us, network-manager-gnome, parrot-interface, parrot-gnome
Section: tasks
Priority: optional
Description: GNOME
 This task package is used to install the Debian desktop, featuring
 the GNOME desktop environment, and with other packages that Debian users
 expect to have available on the desktop.
