Package: task-kazakh-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Timur Birsh <taem@linukz.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: hunspell-kk, firefox-esr-l10n-kk | firefox-l10n-kk
Section: tasks
Priority: optional
Description: Kazakh desktop
 This task localises the desktop in Kazakh.
