Package: task-portuguese
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: aspell-pt-pt, iportuguese, wportuguese
Section: tasks
Priority: optional
Description: Portuguese environment
 This task installs packages and documentation in Portuguese
 to help Portuguese speaking people use Debian.
