Package: task-dzongkha-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: fonts-dzongkha, libreoffice-l10n-dz, libreoffice-help-dz
Section: tasks
Priority: optional
Description: Dzongkha desktop
 This task localises the desktop in Dzongkha.
