Package: task-icelandic-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: libreoffice-l10n-is, firefox-esr-l10n-is | firefox-l10n-is
Section: tasks
Priority: optional
Description: Icelandic desktop
 This task localises the desktop in Icelandic.
