Package: task-lithuanian-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Kęstutis Biliūnas <kebil@kaunas.init.lt>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: libreoffice-l10n-lt, hyphen-lt, firefox-esr-l10n-lt | firefox-l10n-lt, myspell-lt
Section: tasks
Priority: optional
Description: Lithuanian desktop
 This task localises the desktop in Lithuanian.
