Package: task-sinhala-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: fonts-lklug-sinhala, libreoffice-l10n-si, firefox-esr-l10n-si | firefox-l10n-si
Section: tasks
Priority: optional
Description: Sinhala desktop
 This task localises the desktop in Sinhala.
