Package: task-greek
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Konstantinos Margaritis <markos@debian.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: aspell-el
Section: tasks
Priority: optional
Description: Greek environment
 This task installs packages and documentation in Greek
 to help Greek speaking people use Debian.
