Package: task-german
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0), manpages-de
Recommends: wngerman, ingerman, doc-linux-de, aspell-de, aspell-de-alt, iswiss
Section: tasks
Priority: optional
Description: German environment
 This task installs packages and documentation in German
 to help German speaking people use Debian.
