Package: task-russian-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Peter Novodvorsky <nidd@debian.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: libreoffice-l10n-ru, libreoffice-help-ru, mythes-ru, firefox-esr-l10n-ru | firefox-l10n-ru, hunspell-ru
Section: tasks
Priority: optional
Description: Russian desktop
 This task localises the desktop in Russian.
