Package: task-telugu-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Y Giridhar Appaji Nag <appaji@debian.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: libreoffice-l10n-te, firefox-esr-l10n-te | firefox-l10n-te, fonts-lohit-telu, im-config, fcitx, fcitx-m17n
Section: tasks
Priority: optional
Description: Telugu desktop
 This task localises the desktop environment in Telugu.
