Package: task-french
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0), manpages-fr
Recommends: doc-linux-fr-text, doc-debian-fr, ifrench-gut, wfrench, aspell-fr, manpages-fr-extra, util-linux-locales
Section: tasks
Priority: optional
Description: French environment
 This task installs packages and documentation in French
 to help French speaking people use Debian.
