Package: task-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0), xorg, xserver-xorg-video-all, xserver-xorg-input-all, desktop-base
Recommends: task-mate-desktop | task-gnome-desktop | task-xfce-desktop | task-kde-desktop | task-lxde-desktop | task-cinnamon-desktop, xdg-utils, avahi-daemon, libnss-mdns, anacron, eject, iw, alsa-utils
Section: tasks
Priority: optional
Description: Debian desktop environment
 This task package is used to install the Debian desktop.
