Package: task-bengali
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: aspell-bn
Section: tasks
Priority: optional
Description: Bengali environment
 This task installs programs, data files, fonts, and
 documentation that makes it easier for Bengali speakers
 to use Debian.
