Package: task-telugu
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Y Giridhar Appaji Nag <appaji@debian.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: aspell-te
Section: tasks
Priority: optional
Description: Telugu environment
 This task installs programs, data files, fonts, and
 documentation that makes it easier for Telugu speakers
 to use Debian.
