Package: task-telugu-gnome-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Y Giridhar Appaji Nag <appaji@debian.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: fcitx-frontend-gtk2, fcitx-frontend-gtk3, fcitx-config-gtk
Section: tasks
Priority: optional
Description: Telugu GNOME desktop environment
 This task localises the GNOME desktop environment in Telugu.
