Package: task-xfce-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0), task-desktop, xfce4, lightdm, light-locker
Recommends: xfce4-goodies, xfce4-power-manager, xfce4-mixer, xfce4-terminal, mousepad, orage, libreoffice-gtk, dbus-x11, xsane, vlc, quodlibet, evince-gtk | evince, tango-icon-theme, network-manager-gnome, synaptic, firefox-esr | firefox, libreoffice, libreoffice-help-en-us, mythes-en-us, hunspell-en-us, hyphen-en-us, system-config-printer, gnome-orca, parrot-interface, parrot-xfce
Section: tasks
Priority: optional
Description: Xfce
 This task package is used to install the Debian desktop, featuring
 the Xfce desktop environment, and with other packages that Debian users
 expect to have available on the desktop.
