Package: task-hebrew-gnome-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: hdate-applet
Section: tasks
Priority: optional
Description: Hebrew GNOME desktop
 This task localises the GNOME desktop in Hebrew.
