Package: task-kannada-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0), firefox-esr-l10n-kn | firefox-l10n-kn
Recommends: fonts-lohit-knda, fcitx, fcitx-m17n, fcitx-config-gtk
Section: tasks
Priority: optional
Description: Kannada desktop
 This task localises the desktop in Kannada.
