Package: task-chinese-s
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: opencc, zhcon, debian-zh-faq-s, manpages-zh, fortune-zh
Section: tasks
Priority: optional
Description: Simplified Chinese environment
 This task installs programs, data files, fonts, and
 documentation that make it easier for Chinese speakers
 to use Debian, using the simplified Chinese encoding.
