Package: task-georgian-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: fonts-bpg-georgian, libreoffice-l10n-ka
Section: tasks
Priority: optional
Description: Georgian desktop
 This task localises the desktop in Georgian.
