Package: task-turkish
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Recai Oktas <roktas@omu.edu.tr>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0), locales, manpages-tr
Recommends: console-terminus, util-linux-locales
Section: tasks
Priority: optional
Description: Turkish environment
 This task installs packages and documentation in Turkish
 to help Turkish speaking people use Debian.
