Package: task-lithuanian
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Kęstutis Biliūnas <kebil@kaunas.init.lt>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: aspell-lt, ilithuanian
Section: tasks
Priority: optional
Description: Lithuanian environment
 This task installs packages and documentation in Lithuanian
 to help Lithuanian speaking people use Debian.
