Package: task-hebrew
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Debian Hebrew Team <debian-hebrew-common@lists.alioth.debian.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: libfribidi0, libhdate1, bidiv, culmus, hspell, aspell-he, mlterm
Section: tasks
Priority: optional
Description: Hebrew environment
 This task installs programs and documentation in Hebrew
 to help Hebrew speaking people use Debian.
