Package: task-cyrillic
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Anton Zinoviev <zinoviev@debian.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: konwert
Section: tasks
Priority: optional
Description: Cyrillic environment
 This task provides Cyrillic fonts and other software you will need in
 order to use Cyrillic.  It supports Belarusian, Bulgarian,
 Macedonian, Russian, Serbian and Ukrainian.
