Package: task-mate-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0), task-desktop, mate-desktop-environment, lightdm
Recommends: gimp, synaptic, firefox-esr | firefox, libreoffice, libreoffice-help-en-us, mythes-en-us, hunspell-en-us, hyphen-en-us, network-manager-gnome, gnome-orca, libreoffice-gtk3, parrot-interface, parrot-mate, parrot-interface-common
Section: tasks
Priority: optional
Description: MATE
 This task package is used to install the Debian desktop, featuring
 the MATE desktop environment, and with other packages that Debian users
 expect to have available on the desktop.
