Package: task-brazilian-portuguese-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Otavio Salvador <otavio@debian.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: libreoffice-l10n-pt-br, firefox-esr-l10n-pt-br | firefox-l10n-pt-br, myspell-pt-br
Section: tasks
Priority: optional
Description: Brazilian Portuguese desktop
 This task localises the desktop in Brasilian Portuguese.
