Package: task-hebrew-desktop
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Debian Hebrew Team <debian-hebrew-common@lists.alioth.debian.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: hspell-gui, libreoffice-l10n-he, firefox-esr-l10n-he | firefox-l10n-he, myspell-he
Section: tasks
Priority: optional
Description: Hebrew desktop
 This task localises the desktop in Hebrew.
