Package: task-bulgarian
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Anton Zinoviev <zinoviev@debian.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: aspell-bg, ibulgarian, wbulgarian
Section: tasks
Priority: optional
Description: Bulgarian environment
 This task installs programs and data files that make it easier for
 Bulgarian speakers to use Debian.
