Package: task-norwegian
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Petter Reinholdtsen <pere@debian.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0), locales
Recommends: util-linux-locales, wnorwegian, inorwegian, aspell-no
Section: tasks
Priority: optional
Description: Norwegian (Bokmaal and Nynorsk) environment
 This task installs packages and documentation in Norwegian
 to help Norwegian speaking people use Debian.
