Package: task-croatian
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Safir Secerovic <sapphire@linux.org.ba>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0), locales
Recommends: aspell-hr, doc-linux-hr
Section: tasks
Priority: optional
Description: Croatian environment
 This task installs packages and documentation in Croatian
 to help Croatian speaking people use Debian.
