Package: task-tamil
Source: tasksel
Version: 3.37+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 6
Depends: tasksel (= 3.37+parrot0)
Recommends: aspell-ta
Section: tasks
Priority: optional
Description: Tamil environment
 This task installs programs, data files, fonts, and
 documentation that makes it easier for Tamil speakers
 to use Debian.
